body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
    text-align: center;
}

#calculator {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    display: inline-block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#calculator input[type="number"],
#calculator select {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
}

#calculateButton {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    width: auto; /* Adjusted width */
}

#calculateButton:hover {
    background-color: #4cae4c;
}

#results {
    margin-top: 20px;
}

#result {
    font-weight: bold;
}
