body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 20px;
}

#calculator {
    background-color: white;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
}

.input-group input[type="number"],
.input-group button {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
}

.select-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.select-group label {
    margin-right: 10px;
}

.select-group select {
    width: 50px; /* Set the width to make it square */
    height: 50px; /* Set the height to make it square */
    text-align: center;
}

#calculator button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
}

#calculator button:hover {
    background-color: #4cae4c;
}

#results {
    margin-top: 20px;
}

#results #result {
    font-weight: bold;
}

footer {
    margin-top: 30px;
}
